@mixin linear-gradient() {
  background: -moz-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
  background: -o-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
  background: linear-gradient(to right, rgba(255,255,255, 0.2), #fff 100%);
}


.card-container {
  padding-left: 0px;
  padding-right: 0px;

  .card {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    margin: 10px;

    .card-block {
      padding: 0.4rem;

        .card-title {
          font-size: 1rem;
          padding: 0.3rem;
          position: relative;
          height: 50px;
          margin-top: 5px;
        }

        .card-price {
          color: orangered;
          font-size: 13pt;
          float: right;
        }

        .card-text {
          margin-top: 5px;
          white-space: nowrap;
          overflow: hidden;
        }

        .card-text:after {
          content: '';
          position: absolute;
          right: 0;
          width: 120px;
          height: 30px;
          @include linear-gradient;
        }

        .fig {
          text-align: center;
        }

        img {
          height: 150px;
          max-width: 230px;
        }

        button {
          color: darkgreen;
          @include transition-opt(
            $hover-color: #2C3E50,
            $transition-color: darkgreen
          )

          @include fill-closing-horizontal;
        }

        button:hover {
          color: #e5e6e6 !important;
        }

        .button_not_active {
          cursor: no-drop !important;
          color: white;
          background-color: darkgreen;
        }
    }

  }

}

.card-container {
  position: relative;

  .card:hover {
    position: absolute;
    z-index: 4;

    .card-title {
      padding: 0.3rem;
      margin-top: 5px;
    }

    .card-text {
      white-space: normal;
      overflow: visible;
    }

  }

}



